@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body, html {
        cursor: url(http://bringerp.free.fr/Files/RotMG/cursor.gif), pointer;
    }
}

@layer components {
    .btn {
        @apply px-4 py-1 border-2 border-black rounded-xl font-semibold;
        &--shadowed {
            &:hover {
                box-shadow: 0px 2px 0px 0px rgba(0,0,0,1);
                transform: translateY(-2px)
            }
        }
    }

    .mirror-shadow {
        @apply relative z-10 mb-2;
        &::before {
            @apply content-[''] absolute block inset-2 w-full h-full border-2 border-black -z-10 rounded-2xl bg-pink-300;
        }
    }
}
